@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    //background-color: #292929
    background-image: linear-gradient(to right, #FFB220 0%, #fee140 50% , #FFB220 100%)
    color: #fff    
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    font-family: 'Poppins', sans-serif

main    
    max-width: 1200px
    width: 100%
    ul
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between
        
        li
            list-style: none  
            transition: .5s                   
            img
                width: 95%
            &:nth-child(1)
                filter: blur(1px)
            &:nth-child(2)
                filter: blur(2px)
            &:nth-child(3)
                filter: blur(3px)
            &:nth-child(4)
                filter: blur(4px)
            &:nth-child(5)
                filter: blur(5px)
            &:nth-child(6)
                filter: blur(6px)
            &:nth-child(7)
                filter: blur(7px)
            &:nth-child(8)
                filter: blur(8px)
            &:hover
                filter: blur(0px)
                cursor: crosshair
            p
                position: absolute
                top: 50%
                left: 10%
                font-size: 2em



